# dependencies
/node_modules

# build output
/.next/
/out/

# OS
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# editors
.vscode/
.idea/
*.swp
*.swo
*~

# logs & caches
*.log
.eslintcache

# test output
/coverage/

# env
.env*
*.local

# deploy
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
